<div class="cards">
    <div class="card">
        <img class="card-img-top" src="https://telegra.ph/file/9ef8d056edc25171834ce.jpg" alt="Card image cap">
        <h2>Шампунь "Жумайсынба"</h2>
        <p class="card-text">Шампунь "Жумайсынба" - скажи перхоти: "Көзіме көрінбейтін бол э, түсіндің ба!"</p>
        <button>Buy now</button>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://i.ytimg.com/vi/5qTN8JXVKF8/maxresdefault.jpg" alt="Card image cap">
        <h2>Бархатные тяги</h2>
        <p class="card-text">Что за тяги? Такие бархатные тяги, ребята. Фу-уф, кефтеме!</p>
        <button>Buy now</button>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://i.ytimg.com/vi/mLvbjeO439E/maxresdefault.jpg" alt="Card image cap">
        <h2>Маска анонимуса</h2>
        <p class="card-text">На всемя сессии</p>
        <button>Buy now</button>
    </div>
</div>